@use '@/styles/mixins' as *;


.mainContainer {
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;

  @include laptop {
  gap: 1.0rem;

  }

  @include tablet {}

  @include mobile-large {}

  @include mobile {}

  .card {
    width: 220px;
    height: 320px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 16px;
    background: #ffebcc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    border: 5px solid #d35400;
    color: #8B4513;

    &:hover {
      transform: scale(1.05);
    }

    @include laptop {
      width: 190px;
      height: 290px;
    }

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }

  // Usar grid
  .cardImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;

    @include laptop {}

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }

  .cardInfo {
    background-color: purple;
    min-height: 0;
    max-height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 0.6rem;
    padding: 0.8rem;


    @include laptop {}

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }

  .cardTitle {
    background-color: lab(87.82 -79.28 80.98);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: bold;
    color: #d84315;

    @include laptop {}

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }

  .cardDescription {
    background-color: yellow;
    display: -webkit-box;         /* Compatível com WebKit (Chrome, Safari) */
    display: box;                 /* Versão sem prefixo */
    -webkit-box-orient: vertical; /* Compatível com WebKit */
    box-orient: vertical;         /* Versão sem prefixo */
    -webkit-line-clamp: 2;        /* Compatível com WebKit */
    line-clamp: 2;                /* Versão sem prefixo */
    overflow: hidden;             /* Oculta o conteúdo extra */
    text-align: center;           /* Centraliza o texto */       /* Centraliza o texto */
    // font-size: 1rem;
    color: #6d4c41;

    @include laptop {}

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }


  .cardPrice {
    background-color: pink;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    overflow: hidden;             /* Oculta o conteúdo extra */
    
    color: #FF0000;


    @include laptop {}

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }
}