@use '@stylesFunction/mixins' as *;

$teste1: blue;
$teste2: purple;
$teste3: lime;
$teste4: yellow;
$teste5: pink;
$teste6: red;
$teste7: mediumspringgreen;
$teste8: mediumspringgreen;


// $teste1: unset;
// $teste2: unset;
// $teste3: unset;
// $teste4: unset;
// $teste5: unset;
// $teste6: unset;
// $teste7: unset;
// $teste8: unset;


.main-container {
  background-color: $teste1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;

  @include laptop {
    gap: 0.8rem;
  }

  @include tablet {}

  @include mobile-large {}

  @include mobile {}

  .item {
    background-color: #ffebcc;
    width: 220px;
    height: 320px;
    display: grid;
    grid-template-rows: 0.7fr 1fr;
    border-radius: 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    border: 5px solid #d35400;
    color: #8b4513;

    &:hover {
      transform: scale(1.05);
    }

    @include laptop {
      width: 209px;
      height: 304px;
    }

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }

  // Usar grid
  .item-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;

    @include laptop {}

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }

  .item-info {
    background-color: $teste2;
    min-height: 0;
    max-height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 0.6rem;
    padding: 0.8rem;

    @include laptop {
      gap: 0.8rem;
    }

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }

  .item-title {
    background-color: $teste3;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: bold;
    color: #d84315;

    @include laptop {
      font-size: 1.1rem;
    }

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }

  .item-description {
    background-color: $teste4;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-align: center;
    font-size: 1rem;
    color: #6d4c41;

    @include laptop {}

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }

  .item-price {
    background-color: $teste5;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    overflow: hidden;
    /* Oculta o conteúdo extra */

    color: oklch(0.59 0.18 142.19);

    @include laptop {}

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }
}
