@use '@/styles/mixins' as *;


.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;

  @include laptop {
    gap: 0.8rem;

  }

  @include tablet {}

  @include mobile-large {}

  @include mobile {}

  .item {
    width: 220px;
    height: 320px;
    display: grid;
    grid-template-rows: 0.7fr 1fr;
    border-radius: 16px;
    background: #ffebcc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    border: 5px solid #d35400;
    color: #8B4513;

    &:hover {
      transform: scale(1.05);
    }

    @include laptop {
      width: 209px;
      height: 304px;

    }

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }

  // Usar grid
  .itemImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;

    @include laptop {}

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }

  .itemInfo {
    min-height: 0;
    max-height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 0.6rem;
    padding: 0.8rem;


    @include laptop {
      gap: 0.8rem;

    }

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }

  .itemTitle {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: bold;
    color: #d84315;

    @include laptop {
      font-size: 1.1rem;

    }

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }

  .itemDescription {
    display: -webkit-box;
    /* Compatível com WebKit (Chrome, Safari) */
    display: box;
    /* Versão sem prefixo */
    -webkit-box-orient: vertical;
    /* Compatível com WebKit */
    box-orient: vertical;
    /* Versão sem prefixo */
    -webkit-line-clamp: 3;
    /* Compatível com WebKit */
    line-clamp: 3;
    /* Versão sem prefixo */
    overflow: hidden;
    /* Oculta o conteúdo extra */
    text-align: center;
    /* Centraliza o texto */
    /* Centraliza o texto */
    font-size: 1rem;
    color: #6d4c41;

    @include laptop {}

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }


  .itemPrice {
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    overflow: hidden;
    /* Oculta o conteúdo extra */

    color: oklch(0.59 0.18 142.19);


    @include laptop {}

    @include tablet {}

    @include mobile-large {}

    @include mobile {}
  }
}