@use '@stylesFunction/mixins' as *;
@use "@stylesFunction/index" as *;

$testesAtivos: false;

.main-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: px-para-rem(12px);
  border-radius: px-para-rem(8px);
  border: 2px solid if($testesAtivos, hsl(342.12 100% 50%), #cfcfcf);
  margin-bottom: px-para-rem(12px);
  transition: border 0.2s ease, background-color 0.2s ease;
  min-height: px-para-rem(64px);

  &:hover {
    background-color: #FFFFFF;
  }

  .img-complemento-container {
    background-color: if($testesAtivos, hsl(135.06 100% 50%), unset);
    position: relative;
    height: px-para-rem(64px);
    width: px-para-rem(64px);
    overflow: hidden;
    flex-shrink: 0;
  }

  .img-complemento {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .item {
    flex: 1;
    padding: 0 px-para-rem(16px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: px-para-rem(4px);
    min-width: 0;
  }


  .title {
    font-size: px-para-rem(16px);
    font-weight: 600;
    color: #222;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price {
    font-size: px-para-rem(16px);
    font-weight: 600;
    color: #222;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price-free {
    font-size: px-para-rem(16px); // 1rem
    font-weight: 600;
    color: #0DD60D;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .select-container {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: px-para-rem(8px);
  }

  .select {
    color: if($testesAtivos, hsl(342.12 100% 50%), #1e88e5);

    &:hover {
      background-color: rgba(30, 136, 229, 0.06);
    }

    &.Mui-checked {
      color: if($testesAtivos, hsl(342.12 100% 50%), #1565c0);
    }
  }
}