@use '@stylesFunction/mixins' as *;
@use "@stylesFunction/index" as *;


$testesAtivos: true;



.main-container {
    width: 100vw !important;
    height: alturaResponsivaViewport(87) !important;
    display: flex;
    justify-content: center;
    align-items: center;

    @include laptop {}

    @include tablet {}

    @include mobile-large {}

    @include mobile {}

    .box-principal {
        background-color: white;
        width: 90vw;
        max-width: 90vw;
        height: alturaResponsivaViewport(80);
        max-height: alturaResponsivaViewport(80);
        display: flex;

        @include laptop {}

        @include tablet {}

        @include mobile-large {}

        @include mobile {}
    }

    .barra-lateral-container {
        border-right: px-para-rem(5px) solid var(--mui-divider-color);
        background-color: orange;
        display: flex;
        flex-shrink: 0;

        @include laptop {}

        @include tablet {}

        @include mobile-large {}

        @include mobile {}
    }

    .barra-lateral {
        display: flex;
        font-size: px-para-rem(12.8px);
        gap: px-para-rem(11.2px);
        width: 100%;

        @include laptop {
        font-size: px-para-rem(11.6px);
    }

        @include tablet {}

        @include mobile-large {}

        @include mobile {}
    }

    .card-container {
        background-color: if($testesAtivos, red, white);
        max-width: 82vw;
        max-height: 99.9%;
        margin-left: 5px;
        padding: 1rem;
        overflow-x: auto;

        @include laptop {}

        @include tablet {}

        @include mobile-large {}

        @include mobile {}
    }
}