@use '@stylesFunction/mixins' as *;
@use "@stylesFunction/index" as *;
@use 'sass:color';

$testesAtivos: false;

.main-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;

    .box-principal {
        $cor-base: if($testesAtivos, aquamarine, white);
        background-color: $cor-base;
        width: 90%;
        max-width: 90%;
        height: calc(alturaResponsivaViewport(83) - px-para-rem(30px));
        margin-top: px-para-rem(15px);
        margin-bottom: px-para-rem(15px);
        display: flex;


        @include laptop {
            width: 83%;
            max-width: 83%;
            height: calc(alturaResponsivaViewport(89));
            margin-top: unset;
            margin-bottom: unset;
        }

        @include mobile {
            $cor-base: if($testesAtivos, white, unset);
            background-color: $cor-base;
            min-width: 100%;
            width: 100%;
            flex-direction: column;
            height: auto;
        }
    }

    .barra-lateral-container {
        $cor-base: if($testesAtivos, orangered, orange);
        background-color: $cor-base;
        border-right: px-para-rem(8px) solid color.adjust($cor-base, $lightness: -10%);
        width: 18%;

        @include laptop {
            width: 21%;
        }

        @include mobile {
            width: 100%;
            border-right: unset;
            border-bottom: px-para-rem(8px) solid color.adjust($cor-base, $lightness: -10%);
        }
    }

    .barra-lateral-subcontainer {
        $cor-base: if($testesAtivos, purple, unset);
        background-color: $cor-base;
        width: 100%;
        display: grid;
        justify-content: start;




        @include mobile {
            flex: 0 0 auto;
            width: auto;
            min-width: 70px;
            max-width: 120px;
            text-align: center;
            padding: unset;
            padding: 9px 17px;
        }

        @include mobile-small {
            padding: unset;
            padding-left: 14px;
            padding-right: 14px;
        }

    }

    .barra-lateral-conteudo {
        $cor-base: if($testesAtivos, greenyellow, unset);
        background-color: $cor-base;
        display: flex;
        gap: px-para-rem(11.2px);
        align-items: center;

        @include mobile {
            display: grid;
        }
    }

    .barra-lateral-categoria {
        white-space: nowrap;
        $cor-base: if($testesAtivos, red, unset);
        background-color: $cor-base;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: px-para-rem(12.8px);
        font-weight: bold;

        @include laptop {
            font-size: px-para-rem(9.5px);
        }

        @include mobile {
            max-width: 100%;
            font-size: px-para-rem(12.8px);
        }

        @include mobile-small {
            font-size: px-para-rem(11.5px);
        }
    }

    .card-container {
        $cor-base: if($testesAtivos, fuchsia, unset);
        background-color: $cor-base;
        max-width: calc(100% - 18%);
        max-height: 99.9%;
        padding: px-para-rem(16px);
        overflow-x: hidden;


        @include mobile {
            max-width: 100%;
            overflow-x: unset;

        }

    }


}