@use './mixins' as *;


$primary-color: #1E90FF;
$text-color: black;
$background-white: white;
$border-color: #000000;



.mainContainer {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 60px;


  @include laptop {

  }

  @include tablet {

  }

  @include mobile-large {

  }

  @include mobile {

  }

  .box {
    background-color: rgb(255 255 255);
    min-width: 40%;
    border-radius: 10px;
    padding: 60px;


    @include laptop {

    }
  
    @include tablet {
  
    }
  
    @include mobile-large {
  
    }
  
    @include mobile {
  
    }


  }

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;


    @include laptop {

    }
  
    @include tablet {
  
    }
  
    @include mobile-large {
  
    }
  
    @include mobile {
  
    }


  }

  .subTitle {
    display: flex;
    align-items: center;


    @include laptop {

    }
  
    @include tablet {
  
    }
  
    @include mobile-large {
  
    }
  
    @include mobile {
  
    }
  }

  .optionContainer {
    background-color: $background-white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    padding: 20px;


    @include laptop {

    }
  
    @include tablet {
  
    }
  
    @include mobile-large {
  
    }
  
    @include mobile {
  
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: end;
    margin-top: 40px;


    @include laptop {

    }
  
    @include tablet {
  
    }
  
    @include mobile-large {
  
    }
  
    @include mobile {
  
    }
  }

  .button {
    background-color: $primary-color;
    color: white;
    padding: 7px;
    border-radius: 6px;


    @include laptop {

    }
  
    @include tablet {
  
    }
  
    @include mobile-large {
  
    }
  
    @include mobile {
  
    }
  }

  .buttonPedidosContainer {
    display: flex;
    flex-direction: column;
    background-color: red;
    color: white;
    margin-top: 40px;
    padding: 7px;
    border-radius: 6px;


    @include laptop {

    }
  
    @include tablet {
  
    }
  
    @include mobile-large {
  
    }
  
    @include mobile {
  
    }
  }

  .buttonPedidos {
    background-color: $primary-color;
    color: white;


    @include laptop {

    }
  
    @include tablet {
  
    }
  
    @include mobile-large {
  
    }
  
    @include mobile {
  
    }
  }
}