// Ajuste de SCSS para evitar rolagem horizontal em dispositivos móveis.

@font-face {
  font-family: 'PlaywriteITModerna';
  src: url('@/assets/fonts/PlaywriteITModerna/PlaywriteITModerna-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // Permite quebra de texto e evita zoom automático em iOS.
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; // Evita rolagem horizontal.
  font-family: 'PlaywriteITModerna', Arial, sans-serif;
  -webkit-overflow-scrolling: touch; // Garante rolagem suave em iOS.
  background-image: url('@/assets/img/Fundo1.png');
  background-size: 100% 100%; // Garante que a imagem cubra a tela.
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; // Garante que a altura cubra toda a tela.
  min-height: 100dvh; // Garante que a altura cubra toda a tela.
  -webkit-background-size: cover;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}
